* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  max-width: 1440px;
  left: 0;
  right: 0;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1440px;
  height: auto;
  z-index: 2000;
  display: block;
}
/* .contact {
  background: black;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  position: relative;
  z-index: 2000;
} */

/* .contact__facebook {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 5px;
}
.contact__facebook__img {
  width: 40px;
  height: 27px;
}

.contact__twitter {
  width: 40px;
  height: 35px;
  padding-right: 5px;
  margin-bottom: 2px;
}
.contact__twitter__img {
  width: 40px;
  height: 40px;
}

.contact__feed {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}

.contact__feed__img {
  width: 20px;
  height: 20px;
}

.contact__dial {
  color: white;
  font-weight: bold;
  margin-left: 13px;
} */

.subhead {
  position: relative;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  background: white;
}

.subhead__logo {
  height: 100%;
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subhead__logo a {
  width: 13rem;
  height: 80%;
}
.subhead__logo__img {
  width: 13rem;
  height: 80%;
}

.subhead__nav {
  width: 50%;
  height: 100%;
}
.subhead__nav__ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.subhead__nav__ul__li {
  list-style-type: none;
  border-width: 0 0.02px 0 0;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10vw;
}
.subhead6__nav__ul__li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10vw;
}
.subhead__nav__ul__li a,
.subhead6__nav__ul__li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1.2rem;
}

.subhead__nav__ul__li:hover > a,
.subhead6__nav__ul__li:hover > a {
  color: rgb(11, 109, 255);
}

.subhead__nav__ul__li__ul {
  width: 20vw;
  height: 37vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 5.3rem;
  padding-top: 4px;
  line-height: 2rem;
  background: rgb(11, 109, 255);
  list-style-type: none;
  z-index: 2000;
  border-radius: 7px;
  display: none;
}

.subhead__nav__ul__li__ul__li a {
  color: white;
  margin-left: 0.7rem;
  font-size: 1rem;
}

.subhead__nav__ul__li__ul__li {
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}

.subhead__nav__ul__li:hover .subhead__nav__ul__li__ul {
  display: block;
}

.s1:hover,
.s2:hover,
.s3:hover,
.s4:hover,
.s5:hover {
  background: rgb(26, 77, 153);
}

.clients {
  width: 13.4vw;
  height: 51vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 5.3rem;
  padding-top: 4px;
  line-height: 2rem;
  background: rgb(11, 109, 255);
  list-style-type: none;
  z-index: 2000;
  border-radius: 7px;
  display: none;
}

.clients__li {
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}

.clients__li a {
  color: white;
  margin-left: 1.3rem;
  font-size: 1rem;
}

.subhead__nav__ul__li:hover .clients {
  display: block;
}

.cl1:hover,
.cl2:hover,
.cl3:hover,
.cl4:hover,
.cl5:hover,
.cl6:hover,
.cl7:hover {
  background: rgb(26, 77, 153);
}

.hidden {
  display: none;
}

.about {
  position: relative;
  /* top: 7rem; */
  min-height: 80vh;
  height: max-content;
  width: 100%;
  max-width: 1440px;
  background: rgb(29, 29, 29);
}

.about__ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-top: 3rem;
}

.about__ul__li__left {
  height: 60vh;
  width: 20%;
  padding-top: 1rem;
}

.about__ul__li__left h5 {
  color: rgb(26, 77, 153);
  font-size: 1.4rem;
  font-style: italic;
}

.about__ul__li__left h1 {
  color: white;
  font-size: 2.1rem;
}

.about__ul__li__right {
  min-height: 60vh;
  height: max-content;
  width: 45%;
  color: aliceblue;
  font-size: 1.3rem;
  line-height: 1.8rem;
  word-spacing: 0.4rem;
  font-family: "Times New Roman", Times, serif;
  border-left: 3px solid rgb(26, 77, 153);
  padding-left: 3rem;
  padding-top: 0.4rem;
}

footer {
  width: 100%;
  max-width: 1440px;
  background-color: white;
  min-height: 25vh;
  height: max-content;
  position: relative;
}

.footer__group {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  display: block;
  opacity: 0.2;
}

.footer__group__left h3 {
  margin-top: 0.5rem;
}

iframe {
  border: 0;
  width: 330px;
  height: 120px;
}

.footer__group__left {
  width: 40%;
  height: 100%;
  margin-left: 1rem;
}

.footer__group__left h6 {
  font-size: 0.7rem;
}

.footer__group__right {
  padding-top: 2.4rem;
  width: 33%;
  height: 70%;
  position: relative;
}

.footer__group__right h6 {
  word-spacing: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.footer__group__right small {
  font-size: 0.7rem;
}
