* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  max-width: 1440px;
  left: 0;
  right: 0;
  margin: auto;
  /* overflow-x: hidden; */
}

header {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  height: 20vh;
  z-index: 2000;
  display: block;
}
.contact {
  background: black;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  position: relative;
  z-index: 2000;
}

/* .contact__facebook {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.contact__facebook__img {
    width: 40px;
    height: 27px;
    
}

.contact__twitter {
    width: 40px;
    height: 35px;
    padding-right:5px;
    margin-bottom: 2px;
}
.contact__twitter__img {
    width: 40px;
    height: 40px;
}

.contact__feed {
    width: 20px;
    height: 20px;
    padding-left: 5px;
}

.contact__feed__img {
    width: 20px;
    height: 20px;
}

.contact__dial {
    color: white;
    font-weight: bold;
    margin-left: 13px;
} */

.subhead {
  position: relative;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  background: white;
}

.subhead__logo {
  height: 100%;
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subhead__logo a {
  width: 13rem;
  height: 80%;
}
.subhead__logo__img {
  width: 13rem;
  height: 80%;
}

.subhead__nav {
  width: 50%;
  height: 100%;
}
.subhead__nav__ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.subhead__nav__ul__li {
  list-style-type: none;
  border-width: 0 0.02px 0 0;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10vw;
}
.subhead6__nav__ul__li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10vw;
}
.subhead__nav__ul__li a,
.subhead6__nav__ul__li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1.2rem;
}

.subhead__nav__ul__li:hover > a,
.subhead6__nav__ul__li:hover > a {
  color: rgb(11, 109, 255);
}

.subhead__nav__ul__li__ul {
  width: 20vw;
  height: 37vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 5.4rem;
  padding-top: 4px;
  line-height: 2rem;
  background: rgb(11, 109, 255);
  list-style-type: none;
  z-index: 2000;
  border-radius: 7px;
  display: none;
}

.subhead__nav__ul__li__ul__li a {
  color: white;
  margin-left: 0.7rem;
  font-size: 1rem;
}

.subhead__nav__ul__li__ul__li {
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}

.subhead__nav__ul__li:hover .subhead__nav__ul__li__ul {
  display: block;
}

.s1:hover,
.s2:hover,
.s3:hover,
.s4:hover,
.s5:hover {
  background: rgb(26, 77, 153);
}

.clients {
  width: 13.4vw;
  height: 51vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 5.4rem;
  padding-top: 4px;
  line-height: 2rem;
  background: rgb(11, 109, 255);
  list-style-type: none;
  z-index: 2000;
  border-radius: 7px;
  display: none;
}

.clients__li {
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}

.clients__li a {
  color: white;
  margin-left: 1.3rem;
  font-size: 1rem;
}

.subhead__nav__ul__li:hover .clients {
  display: block;
}

.cl1:hover,
.cl2:hover,
.cl3:hover,
.cl4:hover,
.cl5:hover,
.cl6:hover,
.cl7:hover {
  background: rgb(26, 77, 153);
}
.hidden {
  display: none;
}

.main-body {
  background: black;
  width: 100%;
  height: fit-content;
  max-width: 1440px;
  position: relative;
  top: 7rem;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  animation: color infinite 5s ease-in-out;
}

.spansss {
  display: none;
}

.main-body span {
  background: rgb(0, 123, 255);
  display: block;
  position: absolute;
  left: 0;
  width: 20vw;
  height: 40vh;
  animation: gen1 infinite 5s ease-in-out;
}

@keyframes gen1 {
  0% {
    background-color: rgb(0, 123, 255);
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: rgb(0, 123, 255);
  }
}

.content__first {
  width: 70%;
  max-width: 1440px;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  right: 0;
  left: 0;
  float: right;
  margin-right: 1.1rem;
}

.content__first__h3__hidden {
  display: none;
}

.content__first__h3 {
  color: rgb(0, 123, 255);
  font-size: 4.5rem;
  width: 30vw;
  margin: 4rem 2rem 0 0;
  animation: up infinite 5s ease-in-out;
}

@keyframes up {
  0% {
    margin-top: 4rem;
    color: rgb(0, 123, 255);
  }
  50% {
    margin-top: -1rem;
    color: white;
  }
  100% {
    margin-top: 4rem;
    color: rgb(0, 123, 255);
  }
}

.content__first__img {
  width: 45vw;
  height: 60vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.content__second {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 0;
  right: 0;
}

.content__second__h3 {
  color: rgb(0, 123, 255);
  font-size: 2.9rem;
  width: 40vw;
  margin-top: 7rem;
  animation: gen2 infinite 5s ease-in-out;
}

.content__second__img {
  width: 55vw;
  height: 70vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.content__third {
  width: 100%;
  max-width: 1440px;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  right: 0;
  left: 0;
}

.content__third__h3 {
  color: rgb(0, 123, 255);
  font-size: 2rem;
  width: 28vw;
  margin: 7rem 0 0 1rem;
  animation: gen2 infinite 5s ease-in-out;
}

.content__third__img {
  width: 49vw;
  height: 60vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.content__fourth {
  width: 100%;
  max-width: 1440px;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  right: 0;
  left: 0;
}

.content__fourth__h3 {
  color: rgb(0, 123, 255);
  font-size: 3rem;
  width: 35vw;
  margin: 7rem 0 0 13rem;
  animation: gen2 infinite 5s ease-in-out;
}

@keyframes gen2 {
  0% {
    color: rgb(0, 123, 255);
  }
  50% {
    color: white;
  }
  100% {
    color: rgb(0, 123, 255);
  }
}

.content__fourth__img {
  width: 47.2vw;
  height: 55vh;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

footer {
  width: 100%;
  max-width: 1440px;
  background-color: white;
  min-height: 25vh;
  height: max-content;
  position: relative;
  left: 0;
  right: 0;
  top: 7rem;
}

.footer__group {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  display: block;
  opacity: 0.2;
}

.footer__group__left h3 {
  margin-top: 0.5rem;
}

iframe {
  border: 0;
  width: 330px;
  height: 120px;
}

.footer__group__left {
  width: 40%;
  height: 100%;
  margin-left: 1rem;
}

.footer__group__left h6 {
  font-size: 0.7rem;
}

.footer__group__right {
  padding-top: 2.4rem;
  width: 33%;
  height: 70%;
  position: relative;
}

.footer__group__right h6 {
  word-spacing: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.footer__group__right small {
  font-size: 0.7rem;
}
