* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  height: auto;
  width: 100vw;
  max-width: 1440px;
  left: 0;
  right: 0;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1440px;
  height: auto;
  z-index: 2000;
  display: block;
}
/* .contact {
  background: black;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  position: relative;
  z-index: 2000;
}

.contact__facebook {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 5px;
}
.contact__facebook__img {
  width: 40px;
  height: 27px;
}

.contact__twitter {
  width: 40px;
  height: 35px;
  padding-right: 5px;
  margin-bottom: 2px;
}
.contact__twitter__img {
  width: 40px;
  height: 40px;
}

.contact__feed {
  width: 20px;
  height: 20px;
  padding-left: 5px;
}

.contact__feed__img {
  width: 20px;
  height: 20px;
}

.contact__dial {
  color: white;
  font-weight: bold;
  margin-left: 13px;
} */

.subhead {
  position: relative;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  background: white;
}

.subhead__logo {
  height: 100%;
  width: 27%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subhead__logo a {
  width: 13rem;
  height: 80%;
}
.subhead__logo__img {
  width: 13rem;
  height: 80%;
}

.subhead__nav {
  width: 50%;
  height: 100%;
}
.subhead__nav__ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.subhead__nav__ul__li {
  list-style-type: none;
  border-width: 0 0.02px 0 0;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10vw;
}
.subhead6__nav__ul__li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 10vw;
}
.subhead__nav__ul__li a,
.subhead6__nav__ul__li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1.2rem;
}

.subhead__nav__ul__li:hover > a,
.subhead6__nav__ul__li:hover > a {
  color: rgb(11, 109, 255);
}

.subhead__nav__ul__li__ul {
  width: 20vw;
  height: 37vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 5.4rem;
  padding-top: 4px;
  line-height: 2rem;
  background: rgb(11, 109, 255);
  list-style-type: none;
  z-index: 2000;
  border-radius: 7px;
  display: none;
}

.subhead__nav__ul__li__ul__li a {
  color: white;
  margin-left: 0.7rem;
  font-size: 1rem;
}

.subhead__nav__ul__li__ul__li {
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}

.subhead__nav__ul__li:hover .subhead__nav__ul__li__ul {
  display: block;
}

.s1:hover,
.s2:hover,
.s3:hover,
.s4:hover,
.s5:hover {
  background: rgb(26, 77, 153);
}

.clients {
  width: 13.4vw;
  height: 51vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 5.4rem;
  padding-top: 4px;
  line-height: 2rem;
  background: rgb(11, 109, 255);
  list-style-type: none;
  z-index: 2000;
  border-radius: 7px;
  display: none;
}

.clients__li {
  border-bottom: 1px solid white;
  margin-top: 0.5rem;
}

.clients__li a {
  color: white;
  margin-left: 1.3rem;
  font-size: 1rem;
}

.subhead__nav__ul__li:hover .clients {
  display: block;
}

.cl1:hover,
.cl2:hover,
.cl3:hover,
.cl4:hover,
.cl5:hover,
.cl6:hover,
.cl7:hover {
  background: rgb(26, 77, 153);
}

.hidden {
  display: none;
}

main {
  width: 100vw;
  max-width: 1440px;
  height: auto;
}

.video {
  background-color: black;
}
.video__video {
  width: 100%;
  max-width: 1440px;
  height: 70vh;
  position: relative;
  object-fit: cover;
}

.start {
  background: black;
  width: 100%;
  max-width: 1440px;
  height: auto;
  position: relative;
}

.start__white {
  background: rgb(255, 255, 255);
  width: 50%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -4rem;
  border-radius: 10px;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__white h5 {
  width: 60%;
  height: auto;
  position: relative;
  font-size: 1.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.6rem;
  word-spacing: 8px;
  color: rgb(3, 74, 182);
  font-weight: normal;
  font-style: italic;
}

.start__ul__mech {
  width: 100%;
  max-width: 1440px;
  height: auto;
  position: relative;
  margin: auto;
  padding-top: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mech__left {
  width: 38.4vw;
  max-width: 720px;
  height: auto;
  position: relative;
  border: 3px solid white;
  z-index: 2;
  padding: 2rem 2rem 2rem 2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.mech-img-left {
  height: auto;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.black1 {
  height: auto;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.mech__left h3,
.elect__right h3,
.thermal h3 {
  position: relative;
  color: rgb(254, 254, 254);
  width: 25vw;
  font-size: 1.3rem;
  z-index: 10;
  height: fit-content;
}

.mech__left h5,
.thermal h5 {
  position: relative;
  left: 0;
  right: 0;
  top: 1rem;
  margin: auto;
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  height: fit-content;
}

.thermal h5 {
  top: 1.3rem;
}

.mech__left__ul,
.thermal__ul {
  position: relative;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

.mech__left__ul__li1,
.mech__left__ul__li2,
.thermal__ul__li1,
.thermal__ul__li2 {
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  margin-top: 1rem;
}

.mech__left__ul__li1 {
  margin-top: 2.3rem;
}

.thermal__ul__li1,
.thermal__ul__li2 {
  margin-top: 2.5rem;
}

.mech__left:hover .black1 {
  opacity: 0.63;
}

.elect__right {
  width: 38.4vw;
  max-width: 720px;
  height: auto;
  position: relative;
  border: 3px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  z-index: 2;
  cursor: pointer;
}

.elect-img-right {
  height: 100%;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.black2 {
  height: 100%;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
  z-index: 1;
}

.elect__right h5 {
  position: relative;
  top: 0.6rem;
  margin: auto;
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
}

.elect__right__ul {
  position: relative;
  height: auto;
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: disc;
}

.elect__right__ul__li {
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  margin-top: 0.2rem;
}

.elect__right:hover .black2 {
  opacity: 0.53;
}

.services2 {
  width: 100vw;
  max-width: 1440px;
  height: auto;
  background: black;
  position: relative;
  margin: auto;
}

.services__ul {
  width: 100%;
  max-width: 1440px;
  height: auto;
  position: relative;
  top: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 2rem 2rem 2rem 2rem;
}

.thermal {
  width: 38.4vw;
  max-width: 720px;
  height: auto;
  position: relative;
  border: 3px solid white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.thermal__img {
  height: 100%;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.black3 {
  height: 100%;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.thermal:hover .black3 {
  opacity: 0.6;
}

.piping {
  width: 38.4vw;
  max-width: 720px;
  height: auto;
  position: relative;
  border: 3px solid white;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  cursor: pointer;
}

.piping__img {
  height: 100%;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.black4 {
  height: 100%;
  width: 37.9vw;
  max-width: 720px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.piping:hover .black4 {
  opacity: 0.6;
}

.piping h3 {
  position: relative;
  color: rgb(254, 254, 254);
  width: 19vw;
  font-size: 1.3rem;
  z-index: 10;
}

.piping h5 {
  position: relative;
  top: 1.2rem;
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
}

.piping__ul {
  position: relative;
  height: auto;
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.8rem;
  list-style-type: disc;
}

.piping__ul__li {
  color: rgb(254, 254, 254);
  width: 30vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  margin-top: 0.2rem;
}

.service3 {
  width: 100vw;
  max-width: 1440px;
  height: auto;
  background: black;
  position: relative;
  margin: auto;
  padding-bottom: 3rem;
}

.service3__ul {
  width: 80vw;
  max-width: 1440px;
  height: auto;
  border: 3px solid white;
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  margin: auto;
}

.service3__ul__img {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dark5 {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.service3__ul:hover .dark5 {
  opacity: 0.6;
}

.service3__ul__li {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
}

.service3__ul__li h3 {
  position: relative;
  color: rgb(254, 254, 254);
  width: 38vw;
  font-size: 1.3rem;
  z-index: 10;
  word-spacing: 7px;
}

.service3__ul__li h5 {
  position: relative;
  top: 1.5rem;
  color: rgb(254, 254, 254);
  width: 60vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
}

.service3__ul__li__ul {
  position: relative;
  height: auto;
  color: rgb(254, 254, 254);
  width: 60vw;
  font-size: 1rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.8rem;
  list-style-type: disc;
}

.service3__ul__li__ul__li {
  color: rgb(254, 254, 254);
  width: 60vw;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 6px;
  font-weight: normal;
  z-index: 10;
  font-style: italic;
  margin-top: 1.1rem;
}

.li5 {
  margin-top: 0.4rem;
}

footer {
  width: 100%;
  max-width: 1440px;
  background-color: white;
  min-height: 25vh;
  height: max-content;
  position: relative;
  left: 0;
  right: 0;
}

.footer__group {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  display: block;
  opacity: 0.2;
}

.footer__group__left h3 {
  margin-top: 0.5rem;
}

iframe {
  border: 0;
  width: 330px;
  height: 120px;
}

.footer__group__left {
  width: 40%;
  height: 100%;
  margin-left: 1rem;
}

.footer__group__left h6 {
  font-size: 0.7rem;
}

.footer__group__right {
  padding-top: 2.4rem;
  width: 33%;
  height: 70%;
  position: relative;
}

.footer__group__right h6 {
  word-spacing: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.footer__group__right small {
  font-size: 0.7rem;
}
